/**********************************
    reset css
************************************/

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td{
    margin:0; padding:0;
    font-family: 'メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}
table{
    border-collapse:collapse; border-spacing:0;
}
fieldset, img{
    border:0;
}
address, caption, cite, code, dfn, em, strong, th, var{
    font-style:normal; font-weight:normal;
}
ol, ul{
    list-style:none;
}
caption, th{
    text-align:left;
}
h1, h2, h3, h4, h5, h6{
    font-size:100%; font-weight:normal;
}
q:before, q:after{
    content:”;
}
abbr, acronym{
    border:0;
}
img {
    line-height:0px;
}
/*********** clearfix ********************/
.left {
    float: left;
    }
.right {
    float: right;
    }
.clearfix:after {
    content:".";
    display:block;
    clear:both;height:0;
    visibility:hidden;
    }
.clearfix {
    min-height:1px;
    }
* html .clearfix {
    height:1px;
    /*¥*//*/
  height: auto;
  overflow: hidden;
  /**/
  }


body {
	background-color: #FFF67F;
}

#main {
	padding: 80px 0 100px;
}

#footer {
	background-color: #222;
	color: #FFF;
	vertical-align: center;
	margin: 0 -125px;
}

#top-img {
	padding-top: 50px;
}

/* 通知パネル */
#noticePanel {
    width:100%;
    display: none;
    position: fixed;
    top:80px;
    z-index:10;
}
#noticePanel p {
    margin:0 auto;
    width:400px;
    text-align:center;
}

/*********************************
    タスクリスト
**********************************/
/* タスクラベル */
.data-label span {
    display: inline-block;
}
.data-label .head-body {
    width:300px;
    margin: 0 0px 0 35px;
}
.data-label .head-deadLine {
    width: 82px;
}

.task-list li span {
    display: inline-block;
}
.task-list li .body {
    padding: 7px 5px;
    width:300px;
}
.task-list li span.btn {
    margin-left:10px;
}
.task-list li .check-task {
    width:12px;
}
.task-list li .status {
    width: 45px;
}

/* チェックボックスの挙動 */
li.done {
    background:#eee;
}
li.done span {
    color: #bdbdbd;
    text-decoration: line-through;
}
li.done span.btn {
    background-color: #ccc;
}
li.done span.delete-task {
    background-color: #fff;
    color: #000;
    text-decoration: none;
}
li.done span.body a {
    color:#ccc;
}

/* divideの挙動 */
.ul-divide {
    display: none;
    height: 0px;
    /*padding: 0px 0px;*/
    border: 0px;
    /*border: 1px solid #DDD;*/
}
.ul-divide li {
    background-color: #FAFAFA;
}
.li-divide-more {
    display: none;
    height:0px;
    padding:0px 15px;
    border: 1px solid #DDD;
}

/************************************
    ボタンの無効化
************************************/
.btn-disabled, .btn-disabled:hover {
    color: #bdbdbd;
    text-decoration: line-through;
    background-color: #ccc;
    cursor: default;
    border:0px;
}

/********************************
    カレンダー
*********************************/
.calendar th {
    background-color: #eee;
    border: 1px solid #ccc;
    text-align: center;
    width: 108px;
}

.calendar td {
    background-color: #FFF;
    border: 1px solid #ccc;
    height: 120px;
    vertical-align: top;
    width: 108px;
}

.calendartask {
    background-color: #AAC863;
    border-radius: 4px;
    padding: 2px 5px;
}


/*********
tmp
**********/
.task-list ul {
    margin-left : 50px;
}